---
layout: default
title: Home
lang: en
---

<section class="intro">
    <h1>Welcome on my webpage!</h1>
    <img src="{{ site.profile_pic }}" alt="Photo de profil" class="profile-pic">
    <p>PhD Student @ <b>Mines Paris-PSL</b> since November 2025</p>
    <p>Control Theory — Optimization — Machine Learning — Medicine</p>
    <a href="{{ site.cv }}" target="_blank"> My curriculum</a>
    <h3>Research Interests</h3>
    <p>
        <li>Mathematical modeling applied to medicine</li>
        <li>Artificial Life & Evolution</li>
        <li>Complex Systems</li>
        <li>Intelligence modeling & AI</li>
    </p>
</section>

<br>
{% include profiles.html %}
<br>
{% include reports.html %}