---
layout: default
title: Accueil
lang: fr
---

<section class="intro">
    <h1>Bienvenue sur ma page web !</h1>
    <img src="{{ site.profile_pic }}" alt="Photo de profil" class="profile-pic">
    <p>Étudiant en thèse @ <b>Mines Paris-PSL</b> depuis Novembre 2025</p>
    <p>Théorie du Contrôle — Optimisation — Machine Learning — Médecine</p>
    <a href="{{ site.cv }}" target="_blank"> Mon CV</a>
    <h3>Intérêts de recherche</h3>
    <p>
        <li>Modélisation mathématique appliquée à la médecine</li>
        <li>Vie & Évolution artificielles</li>
        <li>Systèmes complexes</li>
        <li>Modélisation de l'intelligence & IA</li>
    </p>
</section>

{% include profiles.html %}
<br>
{% include reports.html %}