/* Styles généraux */
:root {
    --primary-color: #006e8c; /* Bleu foncé */
    --secondary-color: #ecf0f1; /* Gris clair */
    --accent-color: #3d9970; /* Olive */
    --text-color: #333;
}

nav {
    position: fixed; /* Fixe la barre de navigation en haut */
    top: 0; /* Aligne le menu en haut de l'écran */
    left: 0; /* Aligne le menu sur le côté gauche */
    width: 100%; /* Prend toute la largeur de l'écran */
    background-color: var(--secondary-color); /* Couleur de fond du menu */
    padding: 15px 0; /* Espacement du menu en haut et en bas */
    z-index: 1000; /* Assure que le menu reste au-dessus des autres éléments */
}

nav ul {
    display: inline; /* Affiche les éléments en ligne (horizontalement) */
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline; /* Affiche les éléments en ligne (horizontalement) */
    list-style: none; /* Supprime les puces des éléments de liste */
    margin: 0 15px; /* Espace entre les éléments du menu */
}

nav ul li a {
    color: var(--primary-color); /* Couleur du texte  */
    text-decoration: none; /* Enlève le soulignement */
    font-weight: bold; /* Texte en gras */
    padding: 10px; /* Espace autour des liens */
    transition: color 0.3s ease-in-out; /* Animation de la couleur au survol */
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet au corps de prendre toute la hauteur disponible */
    font-family: Fira sans, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-bottom: 120px; /* Espace pour le footer fixe */
}

main {
    height: 100%;
    margin: 0;
}

/* En-tête */
header {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

h1, h2 {
    color: var(--primary-color);
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}

a:hover {
    color: var(--primary-color);
}


/* Contenu principal */
main {
    padding: 50px;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
}

/* Pied de page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    background-color: var(--primary-color);
    color: white;           /* Texte blanc */
    width: 100vw;
    height: 4vw;
    padding: 10px 0;
    z-index: 999;
}  

footer small {
    color: #aaa;
    font-size: 0.5em;
}

.footer-icon {
    font-size: 25px;  /* Taille de l'icône */
    color: white;
}

.btn-circle {
    display: inline-flex;
    vertical-align: middle;

    color: var(--secondary-color);
    justify-content: center;  /* Centre le texte horizontalement */
    align-items: center;      /* Centre le texte verticalement si nécessaire */
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

    width: 130px;
    height: 130px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid transparent; /* Bordure transparente par défaut */ /* Effet au survol */

    margin: 20px;  /* Espacement entre les boutons */
}

.btn-circle i {
    font-size: 4rem; /* Ajuste la taille de l'icône */
    color: var(--secondary-color); /* Couleur de l'icône */
}

.btn-circle:hover {
    color: transparent; /* Texte transparent au survol */
    background-image: var(--hover-image);
    background-size: cover;
    background-position: center;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color); /* Couleur de surbrillance */

    transform: translateY(-5px); /* Légère élévation au survol */
}

.btn-circle[data-hover-image] {
    --hover-image: url('image.jpg'); /* Spécifie l'image */
}

.intro {
    text-align: center;
    padding: 40px;
}

.projet {
    display: inline-flex;
    width: 300px; /* Largeur de la carte */
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Empêche le dépassement des éléments internes */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: white; /* Fond blanc */
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid transparent; /* Bordure transparente par défaut */ /* Effet au survol */

    margin: 20px; /* Espace entre les cartes */
}

.projet:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color); /* Couleur de surbrillance */
}

.projet img {
    width: 100%; /* Image prend toute la largeur */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Ajuste l’image pour couvrir la zone sans déformation */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.projet h3 {
    margin: 15px 0;
    font-size: 18px;
    color: var(--accent-color);
}


/* Styles de la modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    width: auto;
    max-width: 60%;
    text-align: center;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Bouton de fermeture */
.modal .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}

.modal-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--accent-color); /* Bordure transparente par défaut */ /* Effet au survol */
    transition: color 0.3s ease-in-out;
}

.modal-link:hover {
    text-decoration: underline;
    border-color: var(--primary-color); /* Couleur de surbrillance */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Language toggle button */
.lang-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.lang-toggle:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    color: white;
}

.academicons--philpapers {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M281.155 248.037a68.317 68.31 0 0 0 28.962-16.224q29.704-26.992 29.704-71.877a117.71 117.698 0 0 0-8.652-45.647a84.382 84.374 0 0 0-24.71-33.822A78.394 78.387 0 0 0 272.894 64H205.17v188.418h29.704q30.058.019 46.283-4.38zm68.34-184.018a104.474 104.464 0 0 1 20.682 12.53q43.072 32.745 43.071 87.34q0 55.506-43.684 81.271q-22.742 13.347-55.194 16.075q-10.322.91-49.736.909h-59.41v108.874q0 30.926 3.49 45.944a51.328 51.323 0 0 0 12.885 24.707a53.281 53.276 0 0 0 7.334 6.33H448V64.02zM128.737 84.44a49.65 49.646 0 0 0-20.013-18.044a55.334 55.329 0 0 0-5.736-2.376H64V448h51.055a53.251 53.246 0 0 0 7.333-6.33a49.088 49.083 0 0 0 12.995-24.56q3.341-14.85 3.341-46.093v-223.5a269.161 269.136 0 0 0-2.283-40.19a62.109 62.103 0 0 0-7.703-22.89z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}