/* Styles généraux */
:root {
    --primary-color: #006e8c; /* Bleu foncé */
    --secondary-color: #ecf0f1; /* Gris clair */
    --accent-color: #3d9970; /* Olive */
    --text-color: #333;
}

nav {
    position: fixed; /* Fixe la barre de navigation en haut */
    top: 0; /* Aligne le menu en haut de l'écran */
    left: 0; /* Aligne le menu sur le côté gauche */
    width: 100%; /* Prend toute la largeur de l'écran */
    background-color: var(--secondary-color); /* Couleur de fond du menu */
    padding: 15px 0; /* Espacement du menu en haut et en bas */
    z-index: 1000; /* Assure que le menu reste au-dessus des autres éléments */
}

nav ul {
    display: inline; /* Affiche les éléments en ligne (horizontalement) */
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline; /* Affiche les éléments en ligne (horizontalement) */
    list-style: none; /* Supprime les puces des éléments de liste */
    margin: 0 15px; /* Espace entre les éléments du menu */
}

nav ul li a {
    color: var(--primary-color); /* Couleur du texte  */
    text-decoration: none; /* Enlève le soulignement */
    font-weight: bold; /* Texte en gras */
    padding: 10px; /* Espace autour des liens */
    transition: color 0.3s ease-in-out; /* Animation de la couleur au survol */
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet au corps de prendre toute la hauteur disponible */
    font-family: Fira sans, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-bottom: auto;
}

main {
    height: 100%;
    margin: 0;
}

/* En-tête */
header {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

h1, h2 {
    color: var(--primary-color);
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}


/* Contenu principal */
main {
    padding: 50px;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
}

/* Pied de page */
footer {
    position: static;
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    background-color: var(--primary-color);
    color: white;           /* Texte blanc */
    height: auto;
    width: 100%;
    bottom: 0;
}  

footer small {
    color: #aaa;
    font-size: 0.5em;
}

.footer-icon {
    font-size: 25px;  /* Taille de l'icône */
    color: white;
}

.btn-circle {
    display: inline-flex;
    vertical-align: middle;

    color: var(--secondary-color);
    justify-content: center;  /* Centre le texte horizontalement */
    align-items: center;      /* Centre le texte verticalement si nécessaire */
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

    width: 130px;
    height: 130px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid transparent; /* Bordure transparente par défaut */ /* Effet au survol */

    margin: 20px;  /* Espacement entre les boutons */
}

.btn-circle i {
    font-size: 4rem; /* Ajuste la taille de l'icône */
    color: var(--secondary-color); /* Couleur de l'icône */
}

.btn-circle:hover {
    color: transparent; /* Texte transparent au survol */
    background-image: var(--hover-image);
    background-size: cover;
    background-position: center;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color); /* Couleur de surbrillance */

    transform: translateY(-5px); /* Légère élévation au survol */
}

.btn-circle[data-hover-image] {
    --hover-image: url('image.jpg'); /* Spécifie l'image */
}

.intro {
    text-align: center;
    padding: 40px;
}

.projet {
    display: inline-flex;
    width: 300px; /* Largeur de la carte */
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Empêche le dépassement des éléments internes */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: white; /* Fond blanc */
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid transparent; /* Bordure transparente par défaut */ /* Effet au survol */

    margin: 20px; /* Espace entre les cartes */
}

.projet:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color); /* Couleur de surbrillance */
}

.projet img {
    width: 100%; /* Image prend toute la largeur */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Ajuste l’image pour couvrir la zone sans déformation */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.projet h3 {
    margin: 15px 0;
    font-size: 18px;
    color: var(--accent-color);
}


/* Styles de la modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    width: auto;
    max-width: 60%;
    text-align: center;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Bouton de fermeture */
.modal .close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}

.modal-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--accent-color); /* Bordure transparente par défaut */ /* Effet au survol */
    transition: color 0.3s ease-in-out;
}

.modal-link:hover {
    text-decoration: underline;
    border-color: var(--primary-color); /* Couleur de surbrillance */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}