{% assign t = site.data[page.lang] %}
<h2>{{ t.profiles }}</h2>
        <a href="{{ site.linkedin }}" target="_blank" class="btn-circle"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a href="{{ site.github }}" target="_blank" class="btn-circle"><i class="fa-brands fa-github"></i></a>
        <a href="{{ site.scholar }}" target="_blank" class="btn-circle"><i class="fa-brands fa-google-scholar"></i></a>
        <a href="{{ site.philpapers }}" target="_blank" class="btn-circle"><i class="academicons--philpapers"></i></a>